
<p>
    <mat-toolbar color="primary" class= "myToolbar">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Alkemy FunStore</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
  </p>
  <body>
    <!-- <h1>{{title}}</h1> -->
    
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput disabled value="Alkemy FunStore">
      </mat-form-field>

      <h2>Registarse</h2>

      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Nombre</mat-label>
              <input matInput>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Apellido</mat-label>
              <input matInput>
            </mat-form-field>
          </td>
        </tr>
      </table>
    
      <table class="example-full-width" cellspacing="0">
        <tr>
  
          <td>
            <mat-form-field appearance="fill">
              <mat-label>País</mat-label>
              <mat-select>
                <mat-option *ngFor="let pais of paises" [value]="pais.value">
                  {{pais.viewValue}}
                </mat-option>
  
              </mat-select>
              <mat-hint align="end">Seleccione país^</mat-hint>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Provincia</mat-label>
              <input matInput>
            </mat-form-field>
          </td>
  
          <td>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Código Postal</mat-label>
              <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" >
              <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
            </mat-form-field>
          </td>
        </tr>
      </table>
      <p>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Dirección</mat-label>
          <textarea matInput placeholder="Ej. Calle Falsa 1234"></textarea>
        </mat-form-field>
  
      </p>
      <div class="example-container">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Ingrese su cuenta de correo</mat-label>
          <input matInput placeholder="juan@ejemplo.com" [formControl]="email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="example-container">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Ingrese contraseña</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
  
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Confirmar contraseña</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          
  
        </mat-form-field>
  
      </div>
      <div class="example-container">
        <form [formGroup]="options">
  
          <div>
            <label>Escoja su rol: </label>
            <mat-radio-group [formControl]="floatLabelControl">
              <mat-radio-button value="desarrollador">Desarrollador</mat-radio-button>
              <mat-radio-button value="cliente">Cliente</mat-radio-button>
            </mat-radio-group>
          </div>
        </form>
      </div>
  
      <div class= "siguiente-button">
        <button mat-raised-button color="primary">Siguiente</button>
      </div>
  
    </form>
  
  
  </body>